.about-c{
	text-align: center;
	margin: auto;
}

.subtitle-parent {
	position: relative;;
	text-align: center;
	width: 100%;
	padding: 50px;
}

.about-us{
	margin: 0 auto;
	font-family: 'Inter';
	color: #fff;
	font-size: 75px;
}

.about-us:before,
.about-us:after{
	content: '';
  flex-grow: 1;/* 余白を分け与える */
  height: 3px;
  background: red;
}

.subtitle-bg{
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	z-index: -1;
	color: transparent;
	font-family: 'Inter';
	position: absolute;
	font-style: normal;
	font-size: 150px;
	-webkit-text-stroke: 1px #000;
}

.about-p{
	color: #fff;
}