.icon{
	text-shadow: 0 0 6px #000;
}

a.fa-tumblr{
	color: #fff;
	text-decoration: none;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}

.carousel {
	margin: auto;
	width: 640px;
	height: 360px;
}

/* button */
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn--orange {
  color: #fff;
  background-color: #f29d60;
  border-bottom: 5px solid #e57221;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f29d60;
  border-bottom: 2px solid #e57221;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.ws{
  text-align: center;
  margin: 20px 0 0 0;
}