* {
	box-sizing: border-box;
	font-family: 'HanziPen SC',sans-serif;;
	/*'TsukuBRdGothic-Regular',sans-serif;;*/
}

body{
background:linear-gradient(#7094de,#839ed5,#b7c2d7, #ffffff);
background-repeat: no-repeat;
background-size: 200% 200%;
background-position:50% 50%;
background-size: cover;
}

.talk{
	/* text-align: right; */
}
.product {
	/* text-align: center; */
	border-radius: 10px;
	line-height: 200%;
	font-size: 150%;
}

#product-p{
	padding:50px;	
}

#product-t{
	font-size:200%;
    font-weight:bold;
	padding-left:50px;
}
.about-header{
  padding-top: 0%;
  margin-top: 0%;
}

.star {
animation: kirakira 12s linear;
color: rgb(242, 242, 187);
opacity: 0.5;
display: inline-block;
height: 1em;
line-height: 1em;
position: fixed;
top: -1em;
z-index: 1000;
}

@keyframes kirakira {
0% {
		transform:translateY(0) rotateY(0);
}
100% {
		transform:translateY(calc(100vh + 1em)) rotateY(3600deg);
}
}/*星のやつ*/

/*ローディング*/
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0d0080;
	position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* コンテンツ部分の装飾 */
.loaded {
  opacity: 0;
  visibility: hidden;
}

/*ローディング終わり*/
/*product&member background*/
.productmemberbg {
	border-radius: 30px;
}

/*大見出し*/
h1 {
  padding: 1rem 2rem;
  color: #fff;
  background: #015dac;
  /* background-image: radial-gradient(#0175d5 13%, transparent 13%), radial-gradient(#0175d5 13%, transparent 13%); */
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
	border-radius: 30px;
}
/*小見出し*/
.Making > h2 {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 4rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #015dac;
}

h2:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}
/*見出し終わり*/
div.Making{
	border-radius: 30px;
	background-color:rgb(209,233,255);
	box-shadow: 10px 10px 0 rgba(255,255,255,0.5);
}
div.Members{
	margin-top: 50px;
	border-radius: 30px;
	box-shadow: 10px 10px 0 rgba(255,255,255,0.5);
}
div#mw{
	background-color:#ffffff ;
	border-radius: 10px;

}
h3{
margin-top: 0px;
line-height: 200%;
}

h3.left{
padding-top:60px;
padding-left:40px;
padding-right:40px;
text-align: left;
}

h3.middle{
padding:30px 40px;
padding-top:50px;
text-align: center;
font-size: 180%;
}
/* span{
	font-size: 190%;
	font-weight: 700;
} */

h3.right{
padding:30px 40px;
text-align: center;
font-size: 130%;
padding-bottom: 50px;
}

a:hover{
	text-decoration: underline;
}

a{
	letter-spacing: 5px;
	margin-left: 0px;
	margin-top:5px;
	margin-bottom:0px;

}

h4.title{
font-family: 'HanziPen SC',sans-serif;
font-weight:bold;
font-size: auto;
}

.navbar-brand{ /*ロゴ*/
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

header {
	width: 90%; /* 横幅90% */
	padding: 0;
	margin: 0 ;
	text-align: center;
	display:flex;
	justify-content:space-between;
}

header .heading { /* headerタグ内のheadingクラスにのみ反映される */
	font-size: 32px;
}

.navbar-nav{
margin-left:auto;
}

/*==================================================
共通　横並びのための設定　タブ
===================================*/

.gnavi{
	display: flex;
	flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
	margin:0 0 0 0;
	list-style: none;
}

.gnavi li a{
	display: block;
	padding:10px 30px;
	text-decoration: none;
	color: #333;
}

.gnavi li{
	margin-bottom:10px;
}

/*==================================================
　5-3-6 タブのCSS
===================================*/

/*背景の設定*/

.gnavi li a{
	/*背景色の基点とするためrelativeを指定*/
position: relative;
	/*アニメーションの指定*/
transition: all .7s;
}

.gnavi li a::after {
content: '';
	/*絶対配置で線の位置を決める*/
position: absolute;
z-index: -1;
bottom: 0;
left: 0;
	/*背景の形状*/
width: 0;
height: 1px;
background:#14429e;
opacity: 0;/*はじめは透過を0に*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
	/*背景の形状*/
width: 100%;
opacity: 1;
	/*アニメーションの指定*/
animation:bgappear 0.5s forwards;
}

/*アニメーションで線を伸ばして背景をつける*/
@keyframes bgappear{
0% {
	width: 0%;
	height: 1px;
}
50% {
	width: 100%;
	height: 1px;
}
100% {
	width: 100%;
	height: 100%;
	background: #14429e;
}
}

/*現在地とhoverの設定*/
.gnavi li.current a,
.gnavi li a:hover{
	color: #fff;
	/*テキストを最前面へ*/
z-index: 1;
}
/*========= レイアウトのためのCSS ===============*/

.lead{
padding: 50px 10px;
}
/*==================================================
　5-3-6 タブのCSS終わり
===================================*/

p.p-3{
color:#fff;
}

.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}
.navbar{
	background-color: #7094de;
	box-shadow: 2px 2px 3px #a7bdea;


	color:#ffffff;
	font-size: large;
}


.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.main-visual {
	width: 100%; /* 横幅いっぱい */
	height: 300px; /* 高さ300px */
	background-image: url(img/header.jpeg);
	background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
	background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-content {
	width: 40%; /* 横幅40% */
	height: 300px; /* 親の高さに揃える */
}

main {
	width: 800px; /* 横幅800px */
	margin: 0 auto; /* 要素の中央揃え */
	padding: 70px 0; /* 上下に70px、左右に0pxの内側余白 */
}

.summary {
	width: 100%;
	margin-right: 30px; /* 領域の右側余白 */
	text-align: center;
	margin-bottom: 20px;
}

.summary-heading {
	border-bottom: 8px solid #f7f7f7;
	text-align: center;
	line-height: 0.6;
	margin: 10px;
	padding: 10px;
}

.summary-member{
	border-bottom: 8px solid #f7f7f7;
	line-height: 0.6;
	margin: 10px;
}

.member{
	width:100%;
	margin: 20px 20px;
	padding:20px auto;
}

.box {
	margin-bottom: 50px;
	width: 100%;
	max-height: 210px;                /* BOXの高さ           */
	/* ▼ FlexBoxの定義 */
	display: flex;                 /* FlexBox定義         */
	justify-content: space-between;               /* 揃えの定義          */
	flex-wrap: wrap;                 /* 折り返し定義        */
}

.box div {
	box-sizing: border-box;           /* 罫線も含む長さ      */
	background: #B0C4DE;              /* BOXの背景色         */
	border: 2px solid #35557f;    /* 枠線の指定          */
	margin-left: 10px;
	margin-bottom: 50px;
}
/*==================================================
　about css
===================================*/
div.About{
margin-top: 0em;
margin-bottom: 3em;
line-height:200%;

}
h4{
line-height:200%;
font-family: 'HanziPen SC',sans-serif;
}
#initial span{
font-size:200%;
font-weight:bold
}
#initial-t {
	font-size:150%;
	font-weight:bold
	}
#initial {
	font-size:150%;
	font-weight:bold
	}
#initial2 {
	font-size:150%;
	font-weight:bold;
	color:#015dac
	}
#about-1{
margin-top: 3em;
}
/*==================================================
　about css終わり
===================================*/

/*=======================================
　スケジュール
========================================*/

.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
  }


.midasi {
	letter-spacing: 4px;
	text-align: center;
  }

  .tl_komidashi {
	text-align: center;
  }


.featurette-divider {
	margin: 5rem 0;
  }

  .featurette-heading {
	font-weight: 300;
	line-height: 1;
	  font-size: 1.8rem;
	/* rtl:remove */
	letter-spacing: -.05rem;
	margin-bottom: 50px;
  }

#timeline{
	text-align: center;
  }

  .timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
  }

  .timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #a0d8ef;
	left: 50%;
	margin-left: -1.5px;
  }

  .timeline > li {
	margin-bottom: 20px;
	position: relative;
  }

  .timeline > li:before,
  .timeline > li:after {
	content: " ";
	display: table;
  }

  .timeline > li:after {
	clear: both;
  }

  .timeline > li:before,
  .timeline > li:after {
	content: " ";
	display: table;
  }

  .timeline > li:after {
	clear: both;
  }

  .timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }

  .timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
  }

  .timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
  }

  .timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
	float: right;
  }

  .timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
  }

  .timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
  }

  .timeline-badge {
	background-color: #a0d8ef !important;
  }

  .timeline-title {
	margin-top: 0;
	color: inherit;
  }

  .timeline-body > p,
  .timeline-body > ul {
	margin-bottom: 0;
  }

  .timeline-body > p + p {
	margin-top: 5px;
  }
/*=======================================
　スケジュール　終わり
========================================*/